.colunasDivEncDec {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0 auto;
}

.divEncDec {
    width: 50%;
    margin: 0 10px;
}

.divEncDec textarea {
    width: 100%;
    height: 200px;
    text-transform: lowercase;
}

@media only screen and (max-width: 600px) {
    .colunasDivEncDec {
        display: flex;
        flex-direction: column;
    }
    .divEncDec {
        width: 95%;
        margin: 0 10px;
    }
}
